<!--The content below is only a placeholder and can be replaced.-->

<div class="">

  <div class="row d-flex justify-content-around align-items-center">

  <nb-card class="w-25">
    <anon-weather></anon-weather>
  </nb-card>

  <nb-card class="col-5 text-center" size="medium">
    <p class="display-4 mt-3"> Welcome to the {{ page_title }}! </p>
    <img class="mx-auto" width="300" alt="Frontend Logo" src="assets/imgs/Logo.png">
  </nb-card>

  <nb-card class="w-25">
    <anon-visitors></anon-visitors>
  </nb-card>

  </div>

  <div class="row d-flex justify-content-around align-items-center">

    <nb-card class="w-75">
      <anon-player></anon-player>
    </nb-card>

  </div>

</div>
