<nb-card status="info" [style.width.px]="600" [style.height.px]="500">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body class="d-flex align-items-center">
  <div class="container-fluid table-responsive">

    <table class="table">

      <tbody>
        <tr>
          <th scope="row"> Title: </th>
          <td> <input class="" fieldSize="medium" type="text" nbInput shape="round" placeholder="Enter title here.."> </td>
        </tr>

        <tr>
          <th scope="row"> Description: </th>
          <td> <textarea class="" fieldSize="large" nbInput shape="semi-round" placeholder="Enter description here.."></textarea> </td>
        </tr>

        <tr>
          <th scope="row"> Tags: </th>
          <td>
            <input class="" status="success" type="text" nbInput shape="round" placeholder="Enter Tags here..">
            <em class="small d-block">Separate tags with a comma =>  <span class="font-weight-bold">'</span> </em>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

  </nb-card-body>
  <nb-card-footer>
    <button class="float-right" nbButton hero status="success" (click)="saveNote()">Save Note</button>
    <button class="float-left" nbButton hero status="danger" (click)="closeModal()">Dismiss Dialog</button>
  </nb-card-footer>
</nb-card>