<div class="w-75 mx-auto">
    <h1 class="display-4 text-info text-center">Movie Library <span *ngIf="count">- {{ count }} movies</span></h1>
    <hr />
</div>

<!--<div class="container-fluid content-row mx-auto">-->
    <!--<div class="row">-->

        <!--<div class="card mx-auto mb-3 bg-dark" id="card" style="" *ngFor="let movie of movies">-->
            <!--<a class="" target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/" title="{{ movie.title }}">-->
                <!--<img *ngIf="movie.images" class="card-img-top rounded" id="mov_img" src="{{ movie.images | images: 'poster' }}" alt="{{ movie.title }}">-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->




<!--<nb-card size="large">-->

    <!--<nb-card-header>-->
        <!--<div class="text-center display-4">Movies Infinite List: {{ count }} movies</div>-->
    <!--</nb-card-header>-->


    <nb-list class="w-100 row" nbInfiniteList listenWindowScroll [threshold]="500" (bottomThreshold)="loadNext()">

        <nb-list-item class="mx-auto mb-3 bg-dark" *ngFor="let movie of movies" (click)="onSelect(movie)">
            <!--<h6 class="">{{ movie.title }}</h6>-->
            <a class="" target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/" title="{{ movie.title }}">
                <img *ngIf="movie.images" class="card-img-top rounded" id="mov_img" src="{{ movie.images | images: 'poster' }}" alt="{{ movie.title }}">
            </a>
        </nb-list-item>

    </nb-list>

<!--</nb-card>-->
