<nb-layout>

  <nb-layout-column class="p-0">

    <!-- Beginning of Main Card -->
    <nb-card class="m-0 rounded-0 bg-dark text-primary">

      <!-- Logo & Title -->
        <div class="row d-flex justify-content-center align-items-center">
          <img class="logo" src="assets/imgs/Logo.png" alt="...">
          <div class=""> Anonymous Systems </div>
        </div>


      <!-- Main & Subtitle -->
        <div class="d-block text-center">
          <div class="display-4"> Main title for Landing page </div>
          <div class="lead" style="font-size: 2rem;"> Subtitle for Landing page, should be longer than above </div>
        </div>

      <!-- Email Form -->
        <div class="row d-flex align-items-center justify-content-center">

            <div class="input-group w-25">
              <div class="input-group-prepend">
                <!--<span class="input-group-text" id="basic-addon1">@</span>-->
                <span class="nb-email input-group-text" id="email-icon"></span>
              </div>
              <!--<input type="text" class="form-control" placeholder="" aria-label="Email" aria-describedby="email-icon">-->
              <input size="35" type="email" class="mr-1 w-25 form-control" id="email-getstarted" placeholder="Enter your email address" fieldSize="medium" shape="round" nbInput>
            </div>
            <button class="rounded-pill" [routerLink]="['/dashboard']" nbButton hero status="primary">Get Started</button>
        </div>

      <!-- Image -->
        <div class="row d-flex align-items-center justify-content-center">
          <img class="img-fluid shadow m-2" [src]="images[0]">
        </div>

      <!-- Three columns for cards -->
      <div class="row d-flex justify-content-around">
        <nb-card class="w-25 bg-dark text-primary">
          <nb-card-header class="d-flex justify-content-center"> <i class="nb-audio"></i> </nb-card-header>
          <nb-card-body class="d-flex align-items-center justify-content-center">
            Music Player
          </nb-card-body>
        </nb-card>

        <nb-card class="w-25 bg-dark text-primary">
          <nb-card-header class="d-flex justify-content-center"> <i class="nb-play-outline"></i> </nb-card-header>
          <nb-card-body class="d-flex align-items-center justify-content-center">
            Movie Library
          </nb-card-body>
        </nb-card>

        <nb-card class="w-25 bg-dark text-primary">
          <nb-card-header class="d-flex justify-content-center"> <i class="nb-partlysunny"></i> </nb-card-header>
          <nb-card-body class="d-flex align-items-center justify-content-center">
            <div class="lead">Weather</div>

          </nb-card-body>
        </nb-card>
      </div>

    <!-- Dashboard Button -->
    <div class="row d-flex align-items-center justify-content-center">
        <div class="lead" style="font-size: 2.5rem;"> Go to the Dahsboard =>&nbsp;</div>
        <button class="rounded-pill" [routerLink]="['/dashboard']" nbButton hero status="info">Click Here</button>
    </div>

      <!-- End of Main Card -->
    </nb-card>

  </nb-layout-column>

  <!--<nb-layout-footer>-->
  <!--</nb-layout-footer>-->

</nb-layout>
