@import '../../../themes.scss';
// @import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;

// Logo Container
.logo-container {
  display: flex;
  align-items: center;
}

// Menu Icon
a {
    font-size: 2rem;
    text-decoration: none;
    padding-right: 1rem;
  }

// Logo Title
h5 {
  margin-top: 0.25rem;
  padding-left: 1rem;
  border-left: 0.15rem solid hsla(212, 9%, 67%, 0.6);
}

// 
.left {
  display: flex;
  width: 100%;
  order: 0;
  flex-direction: row;
}
.right {
  order: 1;
  flex-direction: row-reverse;
}


.rotate-layout.show[_nghost-c9] {
  opacity: 1!important;
}




}