nb-card {
  margin-bottom: 0!important;
}
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  //height: 100%;
}

//.media img {
//  width: 10%;
//}


// MUSIC PLAYER QUEUE ITEM
nb-list-item {
  padding: 0.5rem;
  width: 25%;
}
// MUSIC PLAYER QUEUE IMAGE SIZE
nb-list-item img {
  width: 65%;
}
