<!--<nb-layout>-->

  <!--<nb-layout-header></nb-layout-header>-->

  <!--<nb-layout-column>-->
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <div class="jumbotron">
          <div class="display-4"> Admin Dashboard  </div>
          <div class="lead"> Administrator dashboard to perform simple tasks. </div>
        </div>
        <button class="btn btn-primary bg" routerLink="/">Go Home</button>
      </div>
    </div>
  <!--</nb-layout-column>-->

  <!--<nb-layout-footer></nb-layout-footer>-->

<!--</nb-layout>-->
